@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,400..700&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --color-sun: #fc832c;
  --color-sunset: #f37113;
  --color-waterloo: #191A15;
  --color-snow: #fbfbfb;
  --color-goose: #8a8a89;
  --color-neon-green: #38cd3e;
  --color-smoke: #f3f3f3;
  --radius-xlg: 14px;
  --radius-3xlg: 30px;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-waterloo);
  background-color: var(--color-smoke);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
}
